* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-image: url("background.jpg");
    background-size: 120%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

label {
    padding: 10px 0 10px 0;
}

input {
    padding: 6px;
    font-size: 0.8em;
    outline: none;
    border: none;
}

.message {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    padding: 6px 6px;
    height: 200px;
    outline: none;
    border: none;
}

.mailer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.mail {
    width: 400px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #f3f3f3;
}

.submit {
    text-align: center;
    background-color: #C8D43B;
    border: none;
    margin: 20px 0 20px 0;
}

.submit:hover {
    background-color: #E7BF13;
    cursor: pointer;
    
}

.hidden {
    display: none;
}

.boxformessage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.5);
}

.messageafterformsend {
    width: 500px;
    height: 400px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 9999;
    justify-content: space-between;
}

.messageafterformsend p {
    padding-top: 200px;
    align-self: center;
}

.messageafterformsend a {
    padding: 0 10px 10px 0;
    text-decoration: none;
    align-self: flex-end;
    color: #0FB1BE;
}

.bakgroundformessage {
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100vh;
}

.mailvalidationoff {
    display: none;
    color: #D04127;
}

.mailvalidationon {
    display: inline;
    height: 20px;
    font-size: 12px;
}

.submitafter {
    user-select: none;
}